.container {
    background-color: white;
    margin: 20px;
    width: 100%;
}

table.custom-table tr:hover {
    background-color: grey;
}

.btn {
    margin-top: 60px;
    margin-left: 10px;
}

tbody tr td {
    vertical-align: middle;
    text-align: center;
}

thead tr th {
    vertical-align: middle;
    text-align: center;
}

tbody tr td button {
    display: inline-block;
    margin: 0 auto;
}

.precioActual {
    width: 66%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 30px;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
}

.valor {
    font-size: 22px;
    line-height: 12px;
}