<app-navegador> </app-navegador>

<header id="page-header" class="container">        
    <div>
        <h1>Carrito</h1>
    </div>
</header>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col" class="eliminar-del-carrito">Eliminar</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listaItemsCarrito; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{item.Nombre}}</td>
            <td>
                <img [src]="item.Foto" alt="Imagen del producto" width="100" height="100">
            </td>
            <td>{{item.Cantidad}}</td>
            <td>${{item.PrecioActual}}</td>
            <td class="boton-eliminar">
                <button class="btn btn-danger" (click)="sacarDelCarrito(item)">Eliminar del carrito</button>                   
            </td>
        </tr>
    </tbody>
  </table>
  <button class="btn btn-danger" (click)="vaciarCarrito()" >Vaciar carrito</button>