
<nav class="nav nav-pills justify-content-center">
    <a class="nav-link custom-font fs-5" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-link custom-font fs-5" routerLink="/feria" routerLinkActive="active">Feria</a>
    <a class="nav-link custom-font fs-5" routerLink="/cargar-producto" routerLinkActive="active">Publicar producto</a>
    <a class="nav-link custom-font fs-5" routerLink="/misproductos" routerLinkActive="active">Mis productos</a>
    <a class="nav-link custom-font fs-5" routerLink="/micuenta" routerLinkActive="active">Mi cuenta</a>
</nav>

