* {
    box-sizing: border-box;
}


.contenedor-principal {
    background: url('../.././assets/norte-argentino.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 110vh;
    margin: -20px 0 50px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    /*sombras*/
    position: relative;
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    min-height: 650px;
}


h2 {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

button {
    border-radius: 20px;
    border: 1px solid #714306;
    background-color: #714306;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    /*transicion lenta de 80ms*/
}

.boton-inicio-sesion {
    margin-top: 30px;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    display: block;
    width: 100%;
}

.form-floating {
    width: 100%;
}

/* Estilos específicos para el botón de inicio de sesión de Google */
.g_id_signin {
    margin-top: 10px;
}


@media screen and (max-width: 800px) {
    .form-container {
        width: 100%;
        max-width: none;
    }

    .container {
        min-height: 100%;
    }
}


.botonRegistrarse {
    display: block;
    color: #265CF7;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: none;
    font-size: 15px;
    margin-left: 0;
}