<div class="contenedor-principal">
  <div class="container">
    <div class="form-container sign-in-container">
      <form [formGroup]="formLogin" (ngSubmit)="submitFormLogin()">
        <h2>Iniciar sesión</h2>
        <div class="form-floating mb-3">
          <div class="form-floating">
            <input
              [class.is-invalid]="flogin.email.errors && flogin.email.touched"
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
              (focus)="clearErrorMessage()"
            />
            <label for="emailLogin">Email / Nombre de usuario</label>
            <div class="invalid-feedback">
              Mail / Nombre de usuario obligatorio.
            </div>
          </div>

          <div class="form-floating">
            <input
              [class.is-invalid]="
                flogin.password.errors && flogin.password.touched
              "
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
              (focus)="clearErrorMessage()"
            />
            <label for="passwordLogin">Contraseña</label>
            <div class="invalid-feedback">Contraseña obligatoria.</div>
          </div>
        </div>
        <div
          id="g_id_onload"
          data-client_id="746828084892-ur0ghdr9u0ucva69huaeqssft2vs4vkh.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-login_uri="http://localhost:4200"
          data-nonce=""
          data-auto_prompt="false"
        ></div>

        <div
          class="g_id_signin"
          data-type="standard"
          data-shape="rectangular"
          data-theme="filled_black"
          data-text="signin_with"
          data-size="large"
          data-locale="es-419"
          data-logo_alignment="left"
        ></div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
          {{ errorMessage }}
        </div>
        <button class="boton-inicio-sesion" type="submit" routerLink="">
          Iniciar sesión
        </button>
        <button
          type="button"
          class="btn btn-link botonRegistrarse"
          (click)="cambiarVista()"
        >
          <em>No tiene cuenta? Registrarse</em>
        </button>
      </form>
    </div>
  </div>
</div>
