<div class="container">
  <h2>Datos públicos</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.Nombre"
          />
          <label for="nombre">Nombre</label>
          <div class="invalid-feedback">Nombre obligatorio.</div>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.Apellido"
          />
          <label for="apellido">Apellido</label>
          <div class="invalid-feedback">Apellido obligatorio.</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <div class="form-floating">
          <input type="text" class="form-control only-view" [(ngModel)]="usuario.Mail" tabindex="-1" />
          <label for="email">Email (no editable)</label>
          <div class="invalid-feedback">Mail obligatorio.</div>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-floating">
          <input
            class="form-control cursor-default only-view"
            readonly
            [(ngModel)]="usuario.Username"
            tabindex="-1"
          />
          <label for="nombreUsuario">Nombre de usuario (no editable)</label>
          <div class="invalid-feedback">Nombre de usuario obligatorio.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="contenedor-boton">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="guardarCambiosPublicos()"
    >
      Guardar cambios
    </button>
  </div>

  <hr />
  <h2>Datos privados</h2>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="password"
            [class.is-invalid]="passwordActualIncorrecta"
            class="form-control"
            required
            [(ngModel)]="passwordActual"
          />
          <label for="passwordActual">Contraseña actual</label>
          <!-- Error 1: Contraseña actual incorrecta -->
          <div *ngIf="passwordActualIncorrecta" class="invalid-feedback">
            Contraseña actual incorrecta.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            type="password"
            [class.is-invalid]="passwordNuevaNoValida"
            class="form-control"
            required
            [(ngModel)]="passwordNueva"
          />
          <label for="passwordNueva">Nueva contraseña</label>
          <!-- Error 2: Contraseña nueva no valida -->
          <div *ngIf="passwordNuevaNoValida" class="invalid-feedback">
            Contraseña nueva no valida.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            type="password"
            [class.is-invalid]="passwordNoCoinciden"
            class="form-control"
            required
            [(ngModel)]="passwordRepetir"
          />
          <label for="passwordRepetir">Repita nueva contraseña</label>
          <!-- Error 3: Las contraseñas no coinciden -->
          <div *ngIf="passwordNoCoinciden" class="invalid-feedback">
            Las nuevas contraseñas no coinciden.
          </div>
        </div>
      </div>

      <div
        *ngIf="exito"
        class="alert alert-success d-flex align-items-center"
        role="alert"
      >
        <svg
          class="bi flex-shrink-0 me-2"
          width="24"
          height="24"
          role="img"
          aria-label="Success:"
        >
          <use xlink:href="#check-circle-fill" />
        </svg>
        <div>Contraseña modificada con exito.</div>
      </div>
    </div>
  </div>

  <div class="contenedor-boton">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="guardarCambiosPrivados()"
    >
      Guardar cambios
    </button>
  </div>
</div>
