<div class="producto-detalle">
  <div class="imagen-y-compra">
    <div class="imagen">
      <img [src]="producto.Foto" alt="Imagen del producto" />
    </div>
    <div class="datos-compra">
      <p>Precio: ${{ producto.PrecioActual }}</p>
      <p>
        Cantidad:
        <input
          type="number"
          [value]="cantidad"
          (input)="actualizarCantidad($event)"
          min="1"
          class="input-cantidad"
        />
      </p>
      <p>Total: ${{ total }}</p>

      <button
        class="agregar"
        (click)="agregarCarrito(producto)"
      >
        Agregar
      </button>
      <button class="cancelar" (click)="irFeria()">
        Cancelar
      </button>
    </div>
  </div>
  <div class="info-producto">
    <h2>{{ producto.Nombre }}</h2>
    <p>Descripción: {{ producto.Descripcion }}</p>
    <p>Stock: {{ producto.Cantidad - producto.Vendidos }}</p>
  </div>
</div>
